* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--typography-fontFamily-sans);
  color: var(--colors-neutral-900);
  background: var(--colors-neutral-50);
}

a {
  color: inherit;
  text-decoration: none;
}
