@import '@prototipo/tokens/tokens.css';

.toolbar {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
  padding: var(--spacing-4);
  background-color: var(--colors-neutral-100);
  border-radius: var(--borderRadius-md);
  width: 100%;
}

/* Alinhamentos */
.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}
